body {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}

.container {
    max-width: 1440px;
    height: 1080px;
    margin: auto;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items:center;
    justify-content: center;
}

.qr {
    width: 320px;
    height: 480px;
    border-radius: 20px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

img {
    width: 290px;
    margin: 10px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 15px;
    padding:  0 20px;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    margin: 0 15px;
    padding:  0 20px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media(max-width: 375px) {
    .container{
       height: 660px; 
    }
}